<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="container">
    <div class="col-md-12">
<table class="table table-bordered">
      <thead>
        <tr>
          <th>empId</th>
          <th>firstName</th>
          <th>lastName</th>
          <th>jobTitleName</th>
          <th>phoneNumber</th>
          <th>emailAddress</th>
          <th>Add</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let employee of employees; let i=index">              
              <td>{{employee.empId}}</td>
              <td>{{employee.firstName}}</td>
              <td>{{employee.lastName}}</td>
              <td>{{employee.jobTitleName}}</td>
              <td>{{employee.phoneNumber}}</td>
              <td>{{employee.emailAddress}}</td>
              <td><button ng class="btn btn-primary">Add</button></td>
              <td><button class="btn btn-primary">Edit</button></td>
              <td><button class="btn btn-primary">Delete</button></td>
             </tr>
      </tbody>
    </table>


    <form #form="" (ngSubmit)="submitForm(form.value)">
        <div class="form-group">
          <label>First Name:</label>
          <!-- Since we are working with template driven forms, we can use the ngModel directive to capture the values of our forms. One thing to note if you are coming from Angular 1.x. Using ngModel as shown below creates a one-way data binding, so once we hit submit the data is only sent to the controller. If we wanted to use two-way data binding, we would have to wrap the ngModel in [()] and assign an attribute to it. Also the name of the field corresponds to the name attribute so our first input will be firstName. -->
          <input type="text" class="form-control" placeholder="John" name="firstName" ngModel required>
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" placeholder="Doe" name="lastName" ngModel required>
        </div>
        <div class="form-group">
            <label>jobTitleName</label>
            <input type="text" class="form-control" placeholder="Doe" name="lastName" ngModel required>
        </div>
        <div class="form-group">
            <label>phoneNumber</label>
            <input type="text" class="form-control" placeholder="Doe" name="lastName" ngModel required>
        </div>
        <div class="form-group">
            <label>emailAddress</label>
            <input type="text" class="form-control" placeholder="Doe" name="lastName" ngModel required>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="Doe" name="lastName" ngModel required>
        </div>
          
        
        
      </form>
    </div>
  </div>
<div>

